# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Env
.venv/
venv/
env/

# Env Files
.env
.env.*
!.env.example

# Logs & Cache
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Docker / Temp
tmp/
temp/